/* CSS declarations go here */
.configure.checked {
  text-decoration: line-through;
  display: block;
}
.checked {
  display: none;
}
/* CSS declarations go here */
html {
}
body {
  background-color: #01a0e2 !important;
}
.task-items {
  background: #fff900;
  min-height: 130px;
  padding: 8px 6px;
}
.pointer {
  cursor: pointer;
}
.toggle-deployment {
  min-width: 40px;
  min-height: 15px;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.task-details .text {
  color: white;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.item {
  margin: 10px;
  line-height: 40px;
  font-weight: bold;
  color: black;
  font-size: 40px;
}
.item:first-child {
  margin-top: 0;
}
.price-text {
  font-size: 44px;
}
.price {
  font-size: 40px;
}
.itemSubText {
  font-size: 24px;
}

.wd-90p {
  width: 90%;
}
.wd-30p {
  width: 30%;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flex-around {
  display: flex;
  justify-content: space-around;
}
.full-width {
  width: 100%;
}
.categories {
  display: flex;
  justify-content: center;    /* Change this */
  flex-wrap: wrap;
  width: 100%;
  min-height: 200px;
}
.category {
  width: 32%;
  margin: 20px 0 0 0px;
}
form {
  margin: 0;
}
.new-item input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  height: 40px;
  border: 0;
  border-radius: 0;
  width: 100%;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.new-task input {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  text-align: center;
}